@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor1: #F28F38;
    --cor2: #F27F3D;
    --cor3: #D95829;
    --cor4: #D95D41;
    --cor5: #A3372D;
    --cor6: #fcf5ea;
    --fonte-padrao: 'Playfair Display', sans-serif;
    --fonte-destaque: 'Libre Baskerville', sans-serif;
}

body {
    background-color: lightgray;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 4px 4px #00000062;
}

nav > a {
    font-family: var(--fonte-padrao);
    color: wheat;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: .8s;
    border-radius: 5px;
}

nav > a:hover {
    color: white;
    background-color: var(--cor3);
    border-radius: 5px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--cor6);
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-padrao);
    font-weight: bolder;
    font-size: 2.1em;
    text-align: center;
    padding-bottom: 15px;
}

main h2 {
    font-family: var(--fonte-padrao);
    color: var(--cor5);
    font-size: 1.3em;
    background-image: linear-gradient(to right, #fcba81, transparent);
    text-indent: 8px;
    font-weight: bold;
}

main p {
    margin: 15px 10px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.1em;
    line-height: 1.2em;
}

main p#paragrafo {
    text-indent: 0px;
}