@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor1: #F28F38;
    --cor2: #F27F3D;
    --cor3: #D95829;
    --cor4: #D95D41;
    --cor5: #A3372D;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 4px 4px #00000062;
}

nav > a {
    color: wheat;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .8s;
    border-radius: 5px;
}

nav > a:hover {
    color: white;
    background-color: var(--cor3);
    border-radius: 5px;
}