@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor1: #F28F38;
    --cor2: #F27F3D;
    --cor3: #D95829;
    --cor4: #D95D41;
    --cor5: #A3372D;
    --cor6: #fcf5ea;
    --fonte-padrao: 'Playfair Display', sans-serif;
    --fonte-destaque: 'Libre Baskerville', sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    background-image: linear-gradient(to top, var(--cor2), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1 {
    color: wheat;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3.3em;
    text-shadow: 2px 2px 0px #0000004d;
    font-weight: normal;
}

header > p {
    color: wheat;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0px #0000004d; 
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 4px 4px #00000062;
}

nav > a {
    color: wheat;
    font-family: var(--fonte-padrao);
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: .8s;
    border-radius: 5px;
}

nav > a:hover {
    color: white;
    background-color: var(--cor3);
    border-radius: 5px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--cor6);
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-padrao);
    font-weight: bolder;
    font-size: 2.1em;
    text-align: center;
    padding-bottom: 15px;
}

main h2 {
    font-family: var(--fonte-padrao);
    color: var(--cor5);
    font-size: 1.3em;
    background-image: linear-gradient(to right, #fcba81, transparent);
    text-indent: 8px;
    font-weight: bold;
}

main p {
    margin: 15px 10px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.1em;
    line-height: 1.2em;
}

main .inf {
    margin: 15px 10px;
    text-align: justify;
    text-indent: 5px;
    font-size: 1em;
    line-height: 0.8em;
}

main a {
    text-decoration: none;
    color: black;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor5);
    font-weight: bolder;
}

main p.paragrafo {
    text-indent: 0px;
}

main ul {
    margin: 15px 10px;
    text-align: justify;
    text-indent: 5px;
    font-size: 1em;
    line-height: 1.4em;
    padding-left: 20px;
}

div.video {
    background-image: linear-gradient(to bottom, transparent, var(--cor2), var(--cor2), var(--cor2), transparent);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.5%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main .foto_turma {
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #0000003b;
}

aside {
    background-color: #fcba81;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #00000069;
}

aside > h3 {
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside p {
    margin: 15px 10px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.1em;
    line-height: 1.2em;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: black;
}